// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.answers {
  .answer {
    .table tr td {
      &:first-child {
        width: 50px;
        vertical-align: middle;
      }
    }

    .body {
    }

    &:first-child {
      .table tr td {
        border-top: 0;
      }
    }

    &.right_answer {

      // background-color: lighten(green, 60%);
    }

    .date {
      color: #ccc;
      font-style: italic;
      font-size: 9px;
    }

    .answer-cancel, .form-edit  {
      display: none;
    }
  }
}
